.footer {
  text-align: center;

  .location {
    font-size: 18vw;
    text-transform: uppercase;
    font-family: var(--font-bodoni);
    opacity: 0;

    &.is-reveal {
      opacity: 1;
    }
  }
}
