@import './mixins';

.header {
  position: relative;
  z-index: 100;

  @include mq('tablet-wide', min) {
    .header__menu {
      display: block;
    }
  }
  
  &__menu {
    display: none;
    position: fixed;
    height: auto;
    width: auto;
    left: 0;
    // top: 100px;
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    transition: 1s ease-in-out;
    padding-right: 2em;
    

    

    li {
      margin: 10px 0;

      a {
        text-decoration: none;
        color: var(--secondary-color);
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          color: #333;
        }

      }
      .link {
        color: var(--primary-color);
        &:hover {
          color: #ccc;
        }
      }
    }
  }

  &__scroll {
    background: var(--secondary-color);
    color: var(--primary-color);
    
  }

  #header-text {
    font-size: 20vw;
    text-transform: uppercase;
    text-align: center;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
  }
}

.featured {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;

  img {
    clip-path: inset(0% 0% 0% 0%);
  }

  h6 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__row,
  &__column {
    display: grid;
    gap: 10px;
  }

  &__row {
    grid-template-rows: repeat(2, auto);

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__column {
    grid-template-columns: 100px auto;
    align-items: flex-end;

    img {
      width: 100%;
      height: 125vh;
      object-fit: cover;
    }

    h6 {
      transform: translateX(100%) rotate(-90deg);
      transform-origin: left bottom;
      justify-self: self-end;
    }
  }
}

.about {
  margin: 10vh 0;
  p {
    font-size: 70px;
    line-height: 1.1;
  }
  &__header {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Syncopate", sans-serif;
    color: var(--secondary-color);
  }
}

.gallery {
  &-wrap {
    background-color: #222;
    // margin: 0 -5vw;
  }

  &__counter {
    position: absolute;
    top: 10%;
    left: 100px;
    z-index: 1;
    mix-blend-mode: difference;
    line-height: 16px;
    color: var(--primary-color);
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
  }
  &__divider {
    content: "";
    background-color: var(--secondary-color);
    width: 6.25vw;
    margin: 7px 10px;
    height: 1px;
    display: inline-block;
  }

  &__data {
    height: 80vh;
    width: 400%;
    padding: 10vh 0;
    display: flex;
    flex-wrap: nowrap;
  }

  &__item {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
    &-info {
      position: absolute;
      bottom: 10%;
      z-index: 1;
      transform: translateX(-20%);
      color: var(--secondary-color);
    }

    &-title {
      line-height: 6vw;
      font-family: "Bai Jamjuree", sans-serif;
      font-weight: 600;
      font-size: 6vw;
    }

    &-subtitle {
      position: relative;
      list-style: 6vw;
      font-family: "Bodoni Moda", sans-serif;
      color: transparent;
      font-weight: 400;
      font-size: 6vw;
      -webkit-text-stroke: 2px var(--secondary-color);
    }

    &-category {
      position: relative;
      line-height: 24px;
      font-family: "Bai Jamjuree", sans-serif;
      font-weight: 400;
      font-size: 24px;
      margin-top: 2vh;
    }
  }

  &__item-wrapper {
    aspect-ratio: 16/9;
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 1fr 200px;
    width: 100vw;
  }

  &__item-image {
    background-size: cover;
    background-position: center;
    transform-origin: center;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(1);
  }
}

.footer {
  p {
    text-align: center;
  }

  &__location {
    width: 100%;
    word-break: break-all;
    font-size: 25vw;
    text-transform: uppercase;
    font-family: "Bodoni Moda", sans-serif;
    text-align: left;
  }
}
