@import "../../styles/mixins";

.overlay-nav {
  display: none;
  position: fixed;
  top: 50px;
  left: 70vw;
  box-sizing: border-box;
  z-index: 100;

  .header-container {
    display: flex;

    .header-link {
      cursor: pointer;
      margin: 0 10px;
      transition: 0.2s ease-in-out;
      text-decoration: none;
      color: var(--secondary-color);

      &:hover {
        color: var(--main-color);
      }
    }
  }
}

.overlay-burger-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: var(--secondary-color);
  clip-path: inset(0% 0 100% 0);
  display: flex;
  flex-direction: column;
  padding-left: 30vw;
  padding-top: 30vh;
  transition: clip-path 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--primary-color);

  &.as-opened {
    clip-path: inset(0% 0 0% 0);
  }

  .burger-link {
    font: {
      size: 10vw;
      family: "Space Grotesk", sans-serif;
    }
    margin: 20px 0;
    text-decoration: none;
    color: var(--primary-color);
  }

  .burger-menu-header {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    word-break: break-all;
    font-size: 1.25rem;
  }
}

.overlay-burger-icon {
  right: 50px;
  top: 50px;
  position: fixed;
  z-index: 3;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  background: 0 0;
  will-change: transform;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:after,
  &:before {
    content: "";
    width: 48px;
    height: 5px;
    position: absolute;
    background-color: var(--secondary-color);
    left: 50%;
    top: 50%;
    display: var(--secondary-color);
    will-change: transform;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:before {
    transform: translate(-50%, -5px) scaleY(0.7) rotate(180deg);
  }

  &:after {
    transform: translate(-50%, 5px) scaleY(0.7) rotate(0);
  }

  &.as-opened {
    &:before {
      background-color: var(--primary-color);
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      background-color: var(--primary-color);
      transform: translate(-50%, -50%) rotate(315deg);
    }
  }
}

@include mq("tablet", min) {
  .overlay-burger-icon,
  .overlay-burger-menu {
    display: none;
  }

  .overlay-nav {
    display: block;
  }
}
